bookInstance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2017 rel. 3 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Book">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Methods"/>
				<xs:element ref="Method" maxOccurs="unbounded"/>
				<xs:element ref="Fields"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Field">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Book" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="author"/>
						<xs:enumeration value="book"/>
						<xs:enumeration value="bookingHistory"/>
						<xs:enumeration value="isbn"/>
						<xs:enumeration value="number"/>
						<xs:enumeration value="serialVersionUID"/>
						<xs:enumeration value="title"/>
						<xs:enumeration value="year"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="boolean"/>
						<xs:enumeration value="int"/>
						<xs:enumeration value="java.lang.Class"/>
						<xs:enumeration value="java.lang.String"/>
						<xs:enumeration value="void"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Field" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Method">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mParametr" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="createXML_just_book"/>
						<xs:enumeration value="equals"/>
						<xs:enumeration value="getAuthor"/>
						<xs:enumeration value="getBook"/>
						<xs:enumeration value="getBookingHistory"/>
						<xs:enumeration value="getClass"/>
						<xs:enumeration value="getIsbn"/>
						<xs:enumeration value="getNumber"/>
						<xs:enumeration value="getTitle"/>
						<xs:enumeration value="getYear"/>
						<xs:enumeration value="hashCode"/>
						<xs:enumeration value="notify"/>
						<xs:enumeration value="notifyAll"/>
						<xs:enumeration value="print"/>
						<xs:enumeration value="printXML"/>
						<xs:enumeration value="setAuthor"/>
						<xs:enumeration value="setIsbn"/>
						<xs:enumeration value="setTitle"/>
						<xs:enumeration value="setYear"/>
						<xs:enumeration value="toString"/>
						<xs:enumeration value="wait"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="return_type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="boolean"/>
						<xs:enumeration value="int"/>
						<xs:enumeration value="java.lang.Class"/>
						<xs:enumeration value="java.lang.String"/>
						<xs:enumeration value="java.util.List"/>
						<xs:enumeration value="java.util.UUID"/>
						<xs:enumeration value="library.Modules.Book"/>
						<xs:enumeration value="org.w3c.dom.Document"/>
						<xs:enumeration value="void"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Methods">
		<xs:complexType/>
	</xs:element>
	<xs:element name="mParametr">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="arg0"/>
						<xs:enumeration value="arg1"/>
						<xs:enumeration value="arg2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="int"/>
						<xs:enumeration value="java.lang.Object"/>
						<xs:enumeration value="java.lang.String"/>
						<xs:enumeration value="java.util.Set"/>
						<xs:enumeration value="library.Modules.Book"/>
						<xs:enumeration value="long"/>
						<xs:enumeration value="org.w3c.dom.Document"/>
						<xs:enumeration value="org.w3c.dom.Element"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="BookInstance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Methods"/>
				<xs:element ref="Method" maxOccurs="unbounded"/>
				<xs:element ref="Fields"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BooksInstanses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BookInstance"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
